body {
    background-color:rgb(36, 36, 36);
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    opacity: 0;
    padding-bottom: 50px;
}

/*#container {
    font-family: 'Raleway', sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10%;
    opacity: 0;
}*/


header {
    background-color: #dc143c;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index:1;
}

#name {
    color: white;
    font-size: 25px;
    margin-left: 15px;
    padding-top: 9px;
    font-weight: 300px;
    position: fixed;
    cursor: default;
}

.container {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-container {
    margin: 0 auto;
    width: 1100px;
}

.element {
    /*border: 1px yellow dotted;*/
    width: 1100px;
    margin: 0 auto;
    padding-top: 100px;
}

.element-title {
    color: #dc143c;
    font-size: 32px;
}

.subTitle {
    color: rgb(200, 200, 200);
    font-size: 25px;
    margin-top: 10px;
}

.text {
    color: rgb(200, 200, 200);
    font-size: 20px;
    /*border: 1px blue dotted*/
    margin-top: 10px;
    text-align: justify;
    text-indent: 2.5em;
}

.games {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 15px;
    grid-gap: 10px;
    
}

.game {
    height: 200px;
    position: relative;
    background-color: white;
}

.game img {
    height: 100%;
    width: 100%;
    transition: .4s ease;
}

.game:hover .image {
    opacity: 0.7;
    transition: .4s ease;
}

.game:hover .game-title {
    opacity: 1;
  }

.game-title {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 35px;
    position: absolute;
    transition: .4s ease;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    width: 1100px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 19px;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(36, 36, 36);
  }
  

.active {
    background-color: rgb(36, 36, 36);
}


#contact-menu a {
    color: rgb(255, 244, 93);
}