* {
    margin: 0;
}

body {
    background-color: #f18813;
}

.observ {
    margin-left: 219px;
}

.imagem {
    text-align: center;
    padding-top: 10px;
}

h2 {
    background-color: #e5e5e5;
    width: 490px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 10px;
}

h1 {
    padding-top: 5px;
    text-align: center;
}

p {
    margin-bottom: 10px;
    margin-top: 10px;
}

#maisGanho, #menosGanho {
    width: 25px;
}

.pSaldoFinal {
    margin-top: 10px;
    font-size: 22px;
    margin-left: 5px;

}

.pGastoDoMes {
    font-size: 22px;
    margin-left: 5px;
}

.pGanhoDoMes {
    font-size: 22px;
    margin-left: 5px;
}

hr {
    width: 500px;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 150px;
}

.resultado {
    background-color: #257fb3;
    color: #fff;
    width: 350px;
    margin-left: 215px;
    margin-bottom: 10px;
    padding-left: 20px;
    border-radius: 20px;
    border: solid 1px #999;
    margin-bottom: 40px;
}

.resultado2 {
    background-color: #c02929;
    width: 350px;
    color: #fff;
    margin-top: 30px;
    margin-left: 215px;
    margin-bottom: 10px;
    padding-left: 20px;
    border-radius: 20px;
    border: solid 1px #999;
}

.resultado3 {
    background-color: #4da920;
    color: #fff;
    width: 350px;
    margin-left: 215px;
    margin-bottom: 10px;
    padding-left: 20px;
    border-radius: 20px;
    border: solid 1px #999;
}

.saldoInicial {
    background-color: #ececeb;
    width: 350px;
    height: 40px;
    padding-top: 10px;
    margin-top: 30px;
    margin-left: 45px;
    margin-bottom: 40px;
    padding-left: 25px;
    border-radius: 20px;
    border: solid 1px #999;
    font-size: 22px;
}

.insira {
    margin-left: 8px;
}

#container1 {
    margin: auto;
    height: 100%;
    width: 800px;
    background-color: #FFF;
    font: 19px 'Open sans', sans-serif;
}

input {
    font: 15px 'Open sans', sans-serif;
    padding-left: 5px;
}

#container2 {
    margin-left: 150px;
}

#containerMaio {
    margin-left: 20px;
}

#limpar {
    text-align: center;
    width: 70px;
    font: 15px 'Open sans', sans-serif;
    margin-left: 364px;
}

#botaoAdicionarGasto {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-image: url(images/botao.png);
    background-repeat: no-repeat;
    background-position: center;
}

.quadroGastos {
    border: solid 1px #333;
    width: 340px;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 230px;
    font-size: 20px;
    padding: 5px;
}

#exibirMaio {
    display: none;
    background-image: url(images/botaoExibir.png);
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 5px;
    margin-left: 450px;
    width: 39px;
    height: 28px;
}


#exibirMaio2 {

    background-image: url(images/botaoExibir2.png);
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 5px;
    margin-left: 450px;
    width: 39px;
    height: 28px;
}
